body{
    overflow-x: hidden;
}
p {
    margin: 0;
}
#gifColor{
	color: #DC3545;
	font-weight:400;
}
#wait{
    display: none;
    width:110px;
    height:130px;
    position: absolute;
    top:50%;
    left:50%;
    margin-top: -50px;
    margin-left: -50px;
    padding:3px;
}
/*#btn-random,
#criteria{
    display:none;
}*/
#btn-random,
#criteria {
    visibility: hidden;
}
#social{
    height: 40px;
    font-size: 16px;
}
#social .social-icon a{
    padding:20px 5px;
    color: white;
}
#social .social-icon a:hover {
    color: #DC3545;
}
#social .social-contact a {
    color:white;
    text-decoration: none;
}
#social .social-contact a:hover{
    color: #DC3545;
}

/* social share floating buttons OVERLAY*/
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 0%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 2001; /* Sit on top and SocialKit Has Zindex of 2000 thats why increased overlay one more*/
    left: 0;
    top: 0;
    background-color: rgb(66,66,66); /* Black fallback color */
    background-color: rgba(66,66,66, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.4s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 10%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    /*display: inline;*/
    transition: 0.3s; /* Transition effects on hover (color) */
}
/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 50px;
}
/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 20px;
        top: 7px;
        right: 15px;
    }
}

.container-fluid {
    padding-right: 0;
    padding-left: 0; 
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}
#push,
#footer {
    height: 60px;
}

#footer {
    background-color: #f5f5f5;
}
#Documentation{
    height:16px;
}
#Documentation a {
    font-size: 12px;
}
/*      MEDIA   QUERIES     */
/*=====================================================
                LARGE DEVICES >=1200PX
=======================================================*/
@media(min-width:1200px) {
    /*      WORKS PERFECTLY FINE NO NEED TO MODIFY      */
}
    /*=====================================================
                MEDIUM DEVICES >=992PX
=======================================================*/
    @media(min-width:992px) and (max-width: 1199px) {
        /*      WORKS PERFECTLY FINE NO NEED TO MODIFY      */
    }
    /*=====================================================
                SMALL DEVICES >=768PX
=======================================================*/
    @media(min-width:768px) and (max-width: 991px) {
        /*      WORKS PERFECTLY FINE NO NEED TO MODIFY      */
    }

    @media(min-width:576px) and (max-width: 767px) {
        /*  ADD Margins To Sticky Footer Because of Social Share Kit*/
        .fixed-bottom {
             margin-bottom: 40px !important; 
        }
    }

    @media (max-width: 575px) {
        #social {
            height: 55px;
            font-size: 14px;
        }

        #showcase h2 {
            font-size: 1.5rem;
        }
        .fixed-bottom {
            margin-bottom: 40px !important;
        }
    }

    @media (max-width: 358px) {
        #social {
            height: 55px;
            font-size: 14px;
        }

        #showcase h2 {
            font-size: 1.5rem;
        }

        #NavBar a {
            font-size: 18px;
        }
        .fixed-bottom {
            margin-bottom: 40px !important;
        }
    }

    @media (max-width: 342px) {
        #social {
            height: 55px;
            font-size: 14px;
        }

        #showcase h2 {
            font-size: 1.5rem;
        }

        .social-contact a i {
            display: inline;
        }

        #NavBar a {
            font-size: 16px;
        }

        #url-container h5 {
            font-size: 16px;
        }

        div#criteria {
            display: inline;
        }

        #button {
            margin-top: 10px !important;
        }
        .fixed-bottom {
            margin-bottom: 40px !important;
        }
    }

    @media screen and (max-width: 290px) {
        #social {
            height: 55px;
            font-size: 14px;
            padding: 0;
        }

        #showcase h2 {
            font-size: 1.5rem;
        }

        .social-contact a i {
            display: inline;
        }

        #NavBar a {
            font-size: 15px;
        }

        #url-container h5 {
            font-size: 16px;
        }

        #criteria .form-check-label {
            font-size: 12px;
        }

        #button {
            margin-top: 10px !important;
        }

        #social .social-contact {
            font-size: 14px;
        }

        #NavBar a {
            font-size: 14px;
        }
        .fixed-bottom {
            margin-bottom: 40px !important;
        }
    }